body {
    background-image: url("BGcookies.jpg")
}

input {
    background-color: aliceblue;
}

#Title {
    width: 100%;
}

#Title span {
    color           : var(--Btb-color);
    font-size       : larger;
    background-color: var(--BG-color);
}

#msg {
    font-weight: 700;
    font-size  : xx-large;
    font-style : italic;
}

button {
    font-size : large;
    min-height: max-content;
}

label {
    font-weight: 700;
}

#choose_store_del {
    display: block;
}

@media only screen and (max-width: 1024px) {
    * {
        font-size: x-large;
    }

    button {
        border-radius: 25%;
    }

    #signin {
        left: 40vw;
    }

    label {
        background-color: var(--BG-color);
    }
}