{% extends 'base.html' %}

{% set page_head_title = 'suggestions' %}

{% block page_head_css %}
<link rel="stylesheet" href="{{ url_for('suggestions.static', filename='css/suggestions.css') }}" />
{% endblock %}

{% block page_body_main_content %}
{% if not session["logged_in"] %}
<div class="popup" id="signin">
    האפשרות להציע רעיונות <br>
    ולהצביע שמורה לחברינו הרשומים בלבד. <br>
    התחברו וגם אתם תוכלו להצביע:)
    <button onclick="change_location('/registration')">בטח!</button>
    <button onclick="close_popup()">פעם הבאה</button>
</div>
{% endif %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="page-mask" id="alert-popups" onclick="close_alert_popup()"></div>
<div class="popup" id="alert">
    {% for msg in messages %}
    {{msg}}
    <br>
    {% endfor %}
    <button onclick="close_alert_popup()"> <i class="fas fa-check"></i> </button>
</div>
{% endif %}
{% endwith %}
<div class="main">
    <h1 class="page_title">תיבת ההצעות </h1>
    <div class="textBox">
        <p>
            חושבים שאתם יכולים לחשוב על רעיון טוב לעוגיה?<br>
            הכניסו את הרעיון שלכם בטופס למטה, <br>
            כל הצעה תעבור להצבעה בחודש הבא<br>
            על ידי הלקוחות האחרים, <br>
            ובכל חודש ההצעה הזוכה תיכנס לתפריט,<br>
            והלקוח.ה שהציע.ה אותה ת.יזכה ב<span class="smaller-font">10%</span> הנחה לרכישתו.ה הבאה:)<br>

        </p>
        <p class="smaller-font">*ההשתתפות הינה ללקוחות רשומים בלבד </p>
        <button onclick="change_location('/registration')">התחבר/הרשם</button> <br class="hiddenD">
        <button onclick="open_sg('proposal')"> מילוי טופס הצעה</button> <br class="hiddenD">
        <button onclick="open_sg('vote')"> הצבעה </button> <br class="hiddenD">
        <div class="popup" id="sg_form">
            <form action="/new_sg" method="post">
                <table>
                    <tr>
                        <td class="hiddenD">
                            <label for="baseSg">איזה בסיס?</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="shownD">
                            <label for="baseSg">איזה בסיס?</label>
                        </td>
                        <td>
                            <input type="text" name="baseSg" id="baseSg"> <br>
                        </td>
                    <tr>
                    <tr>
                        <td class="hiddenD">
                            <label for="toppingSg">איזה תוספת?</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="shownD">
                            <label for="toppingSg">איזה תוספת?</label>
                        </td>
                        <td>
                            <input type="text" name="toppingSg" id="toppingSg">
                        </td>
                    <tr>
                    <tr>
                        <td class="hiddenD">
                            <label for="textSg">משהו להוסיף?</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="shownD">
                            <label for="textSg">משהו להוסיף?</label>
                        </td>
                        <td>
                            <textarea name="textSg" id="textSg" ></textarea> 
                        </td>
                    <tr>
                </table>

                <button type="submit">שלח <i class="fas fa-paper-plane"></i></button>
                <button onclick="close_popup()" type="button"> <i class="fas fa-times"></i></button>
            </form>
        </div>
    </div>

</div>
{% endblock %}

{% block page_body_footer %}{% endblock %}

{% block page_body_js %}
<script src="{{ url_for('suggestions.static', filename='js/suggestions.js') }}"></script>
{% endblock %}