<link rel="stylesheet" href="{{ url_for('TopNav.static', filename='css/TopNav.css') }}" />


<span >
    <span class="MCH">MAMA Cookies</span>

</span>
<span>
    <i herf="url_for('about')" class="fas fa-cookie" onclick="change_location('main.html')"></i>
    <i class="fas fa-phone" onclick="change_location('contact')"></i>
    <i class="fas fa-shopping-cart" onclick="toggle_side('cart')"></i>
    <i class="fas fa-bars" onclick="toggle_side('menu')"></i>

</span>

<script src="{{ url_for('TopNav.static', filename='js/TopNav.js') }}"></script>