:root {
    --BG-color  : #ffe1a6;
    --Btb-color : chocolate;
    --Head-color: #fad178;
    --TxBx-color: #ffc450;
}

body {
    min-height      : 100%;
    box-sizing      : border-box;
    margin          : 0%;
    background-color: var(--BG-color);
    font-family     : Verdana;
    font-size       : x-large;
    direction       : rtl;
}
#Title {
    width: 100%;
}
#Title span{
    background-color: var(--BG-color);
}

.mainP {
    background-image: url('cookies.png');
}

button {
    background-color: var(--Btb-color);
    border-radius   : 50%;
    height          : 5vh;
    min-height      : fit-content;
    width           : 5vw;
    min-width       : fit-content;
    cursor          : pointer;
    margin          : 2%;
}

p,
ol,
li {
    margin: 1%;
}

ol {
    margin-bottom: 2%;
    font-size    : medium;
}

.Container {
    display            : grid;
    grid-template-areas: 'header''main';
    position           : top;
    text-align-last    : center;
}

.header {
    position        : static;
    background-color: var(--Head-color);
    grid-area       : header;
    width           : 100%;
    direction       : ltr;
}

.header i {
    cursor: pointer;
}


.hiddenD {
    display: none;
}


.main {
    align-content: center;
    grid-area    : main;
    height       : 100%;
}

.textBox {
    background-color: var(--TxBx-color);
    align-self      : center;
    width           : 50vw;
    position        : absolute;
    right           : 23vw;
    padding         : 2%;
    font-weight     : bolder;
    text-align      : justify;
    border-radius   : 20%;
    align-content   : center;
}

table {
    align-self: center;
    text-align: justify;
    margin    : 0 auto;
}


#MC {
    font-size: xx-large;
}

.MSH {
    position  : absolute;
    right     : 99vw;
    text-align: left;
    text-align: left;
}

.English {
    font-size: large;
    direction: ltr;
}

.hr-line {
    width : 60%;
    margin: auto;
}

.long {
    width: 100%;
}

.hidden_side i {
    text-decoration: none;
}

#menu {
    cursor: pointer;
}

/* Style the buttons that are used to open and close the faq-question body */
.faq-question {
    color        : rgb(0, 0, 0);
    border       : none;
    outline      : none;
    transition   : 0.4s;
    margin       : auto;
    padding      : 1% 4% 1% 4%;
    border-radius: 25%;
}

.faq-answer {
    margin : auto;
    padding: 1% 4% 1% 4%;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.faq-question:hover {
    background-color: var(--Head-color);
}

/* Style the faq-question panel. Note: hidden by default */
.faq-answer {
    text-align-last: right;
    display        : none;
    overflow       : hidden;
}

.faq-question:after {
    content    : '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size  : large;
    color      : #777;
    float      : right;
    margin-left: 1%;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

#mainTl {
    position     : absolute;
    left         : 35vw;
    margin-bottom: 2vh;
    top          : 0;
}

.cards_container {
    position             : absolute;
    right                : 28vw;
    width                : 70vw;
    top                  : 20vh;
    bottom               : 0;
    z-index              : 1;
    display              : grid;
    grid-template-columns: repeat(auto-fill, 20vw);
    row-gap              : 2vh;
    column-gap           : 2vw;
    height               : 100%;
}

.filter {
    border-radius   : 5%;
    background-color: var(--Head-color);
}

.add {
    border-radius: 5%;
}

.cookie_card {
    background-color: var(--TxBx-color);
    border-radius   : 25%;
    padding         : 10%;
    text-align-last : center;
    align-items     : center;
    height          : fit-content;
}

.cookie_card p {
    width     : auto;
    align-self: center;
}

img {
    max-width    : 75%;
    border-radius: 25%;
    object-fit   : contain;
    align-self   : center;
}

.side_nav {
    position        : fixed;
    background-color: var(--Head-color);
    padding-right   : 2vw;
    width           : 20vw;
    right           : 0;
    top             : 0;
    bottom          : 0;
    z-index         : 1;
    height          : 100%;

}

.hidden_side {
    display         : none;
    position        : fixed;
    background-color: var(--Head-color);
    padding-right   : 2vw;
    width           : 20vw;
    right           : 0;
    top             : 0;
    z-index         : 1;
    padding-bottom  : 1vh;
}

.popup {
    border          : 2px solid chocolate;
    background-color: var(--TxBx-color);
    position        : absolute;
    top             : 10vh;
    right           : 40vw;
    width           : max-content;
    padding         : 2%;
    z-index         : 10;
    display         : none;
    text-align      : justify;
    align-items     : justify;
    border-radius   : 25%;
    align-content   : center;
    text-align-last : center;

}

.popup input {
    align-self: left;
}

.popup label {
    align-self: right;
}

.underline {
    text-decoration: underline;
}

#page-mask {
    background: rgba(0, 0, 0, 0.5);
    position  : fixed;
    top       : 0;
    right     : 0;
    bottom    : 0;
    left      : 0;
    display   : none;
    z-index   : 9;
}


.wu_speach_bubble {
    position     : absolute;
    background   : var(--Head-color);
    padding      : 20px;
    border-radius: 10px;
    max-width    : 320px;
    left         : 1vw;
    top          : 55vh;
    cursor       : pointer;
}

.summary input {
    background-color: var(--BG-color);
    border-radius   : 10%;
    border-color    : var(--TxBx-color);
}

.wu_speach_bubble::after {
    position: absolute;
    content : '';
    border  : 20px solid transparent;
}

.right.wu_speach_bubble::after {
    border-right-color: var(--Head-color);
    bottom            : -20%;
    right             : 85%;
    margin-left       : -20%;
}

.whatsapp_widgit {
    position        : fixed;
    top             : 75vh;
    left            : 1vw;
    background-color: green;
    border-radius   : 55%;
    z-index         : 3;
}

.small_input {
    width: min-content;
}

.add_cookie {
    width           : min-content;
    border-radius   : 10%;
    background-color: var(--BG-color);
}

.shownD {
    display: block;
}

.hiddenD {
    display: none;
}

@media only screen and (max-width: 1024px) {
    .whatsapp_widgit {
        left: 1vw;
    }

    .shownD {
        display: none;
    }

    .hiddenD {
        display: block;
    }

    body {
        font-size: large;
    }

    .textBox {
        width: 85vw;
        right: 5vw;
    }

    .orderMain {
        display              : grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .cards_container {
        grid-column          : 2/ span 1;
        display              : grid;
        grid-template-columns: repeat(auto-fill);
    }

}

@media only screen and (max-width: 600px) {


    form textarea,
    form input {
        width: 70%;
    }

    .textBox {
        width: 90vw;
        right: 2vw;
    }

}