body {
    background-image: url('cookies.png');

}

#StartMain {
    display              : grid;
    height               : 100 vh;
    grid-template-columns: repeat(5, [col] auto);
    grid-template-rows   : repeat(3, [row] auto);
    row-gap              : 5vh;
    column-gap           : 1%;
}

#Title {
    grid-column: col 3/ span 1;
    grid-row   : row 1;
    background-color: var(--Head-color);
}

#editBtn {
    grid-column: col 1/ span 1;
    grid-row   : row 3;
}

#DelBtn {
    grid-column: col 4/ span 2;
    grid-row   : row 2;

}

#SPBtn {
    grid-column: col 2/ span 1;
    grid-row   : row 2;
}

#input1 {
    grid-column: col 2/ span 1;
    grid-row   : row 3;

}

#input2 {
    grid-column: col 3/ span 1;
    grid-row   : row 3;

}

#input3 {
    grid-column: col 4/ span 1;
    grid-row   : row 3;
}

@media only screen and (max-width: 900px) {
    #StartMain {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows   : repeat(7, [row] auto);
    }

    #StartMain div {
        grid-column: 2;
        align-content: center;
    }

    #Title {
        grid-row   : row 1;
    }

    #editBtn {
        grid-row   : row 5;
    }

    #DelBtn {
        grid-row   : row 6;

    }

    #SPBtn {
        grid-row   : row 7;
    }

    #input1 {
        grid-row   : row 2;

    }

    #input2 {
        grid-row   : row 3;

    }

    #input3 {
        grid-row   : row 4;
    }

}