{% extends 'base.html' %}

{% set page_head_title = 'About' %}

{% block page_head_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />

<link rel="stylesheet" href="{{ url_for('faq.static', filename='css/faq.css') }}" />
{% endblock %}

{% block page_body_main_content %}
<div class="main">
    <h1 class="page_title">שאלות נפוצות </h1>
    <div class="textBox">
        {% for question in questions %}
        <div class="faq">
            <!-- faq question -->
            <p class="faq-question">{{question.question}}</p>
            <!-- faq answer -->
            <div class="faq-answer">
                <p>
                    {{question.answer}}
                </p>
            </div>
        </div>
        <hr class="hr-line">
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block page_body_footer %}{% endblock %}

{% block page_body_js %}
<script src="{{ url_for('static', filename='js/base.js') }}"></script>

<script src="{{ url_for('faq.static', filename='js/faq.js') }}"></script>
{% endblock %}