<link rel="stylesheet" href="{{ url_for('main_menu.static', filename='css/main-menu.css') }}" />
<script src="https://kit.fontawesome.com/3a10c9cc85.js" crossorigin="anonymous"></script>
<br>
<a href="{{'/'}}">עמוד הבית <i class="fas fa-home"></i> </a> 
<hr class="hr-line long">
<a href="{{'about'}}"> מי אנחנו?</a>
<hr class="hr-line long">
<a href="{{'stores'}}">חנויות </a>
<hr class="hr-line long">
<a href = "{{'catalog'}}">הזמנת עוגיות</a>
<hr class="hr-line long">
<a href="{{'FAQ'}}">שאלות נפוצות</a>
<hr class="hr-line long">
<a href="{{'contact'}}">צור קשר <i class="fas fa-phone"></i></a>
<br>