#cart {
    font-size: large;
}

.add {
    height: min-content;
    width : min-content;
}

.cartI {
    cursor: pointer;
    margin-left: 0.5ch;
}

.cart_inp {
    width           : 6ch;
    background-color: var(--Back-color);
    margin          : 1ch;
}