{% extends 'base.html' %}

{% block page_head_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
<link rel="stylesheet" href="{{ url_for('homepage.static', filename='css/homepage.css') }}" />
<script type="text/javascript">
    var storeList = "{{ storeList|tojson }}";

</script>
{% endblock %}

{% set page_head_title = 'בית' %}

{% block page_body_main_content %}

<div>
    <br>
    <h1 class="page_title" id="Title"> <span>MAMA <br class="hiddenD"> Cookies</span> </h1>
    <br>
    <br>
    <form id="address_form" action="/set_method" method="post">
        <table>
            <tr>
                <td class="hiddenD">
                    <label for="">בית</label>
                </td>
            </tr>
            <tr>
                <td class="shownD">
                    <label for="">בית</label>
                </td>
                <td>
                    <input name="house" id="houseNum" type="number">
                </td>
            <tr>
            <tr>
                <td class="hiddenD">
                    <label for="">רחוב</label>
                </td>
            </tr>
            <tr>
                <td class="shownD">
                    <label for="">רחוב</label>
                </td>
                <td>
                    <input name="street" id="street" type="text" readonly>
                </td>
            </tr>
            <tr>
                <td class="hiddenD">
                    <label for="">עיר</label>
                </td>
            </tr>
            <tr>
                <td class="shownD">
                    <label for="">עיר</label>
                </td>
                <td>
                    <input name="City" id="City" type="text" readonly>
                </td>
            </tr>
            <input type="text" name="meth" id="meth_inp" hidden>
            <input type="text" name="storeID" id="storeID" hidden>



        </table>
        <div class="hiddenD">
            <br>
            <button type="button" class="fas fa-pen" onclick="make_address_editable()"> </button><br>
            <button type="button" onclick="set_method('SP')"> איסוף עצמי </button><br>
            <button type="button" onclick="set_method('Del')"> משלוח </button><br>
        </div>
        <div class="shownD">
            <br>
            <button type="button" class="fas fa-pen" onclick="make_address_editable()"> </button>
            <button type="button" onclick="set_method('SP')"> איסוף עצמי </button>
            <button type="button" onclick="set_method('Del')"> משלוח </button>
        </div>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="popup show" id="choose_store_del">
        <p>אין לנו סניף בעיר שלך...<br>
            אנא בחר את הסניף הקרוב ביותר אליך<br>
        </p>
        <select name="store" id="storeSelectD">
            {% for store in storeList %}
            <option value="{{store.id}}">{{store.city}} {{store.street}}</option>
            {% endfor %}
        </select>
        <br>
        <button onclick="set_store('storeSelectD', false)">בחר</button>
    </div>
    {% endif %}
    {% endwith %}
    <div class="popup" id="choose_store_sp">
        <p>באיזה סניף יהיה לך היה נוח לבוא לבקר?</p>
        <select name="store" id="storeSelectS">
            {% for store in storeList %}
            <option value="{{store.storeID}}">{{store.city}} {{store.street}}</option>
            {% endfor %}
        </select>
        <br>
        <button onclick="set_store('storeSelectS', true)">בחר</button>
    </div>

    <div id="msg">
        {% if session["logged_in"] %}
        <span>
            היי {{session["full_name"]}} <br>
            איזה כיף לראות אותך שוב!! <br>
            <button type="button" onclick="change_location('my_acount')">אזור אישי</button>
        </span>
        {% else %}
        <span>
            התחברו או הרשמו על מנת להנות מצבירת נקודות <br />
            והנחות מיוחדות לחברים בלבד
            <br />
            <button type="button" onclick="change_location('registration')"> התחבר </button>
        </span>
        {% endif %}

    </div>

</div>

{% endblock %}

{% block page_body_js %}
<script src="{{ url_for('homepage.static', filename='js/homepage.js') }}"></script>
{% endblock %}