<link rel="stylesheet" href="{{ url_for('cart.static', filename='css/cart.css') }}" />

<br>
<br>
<div id="cart">
    <div id="cart_items">

    </div>
    <br> 
    <p>
        <i>מחיר כולל <input class="cart_inp small_input add_cookie" type="number" min="0" max="100" id="total_cost_inp" size="2"
                readonly>
            ש"ח </i>
        <button class="add" onclick="change_location('summery')">לתשלום</button>
    </p>
</div>
<script src="{{ url_for('cart.static', filename='js/cart.js') }}"></script>
