
<link rel="stylesheet" href="{{ url_for('signinup.static', filename='css/signinup.css') }}" />

<div class="main">
    
    <div id="newU">
        <h2>משתמש חדש </h2>
        <form action="register()" method="post" id="register-form">
            <table>
                <tr>
                    <td class="shownW">
                        <label for="NameNU"> שם מלא </label>
                    </td>
                    <td>
                        <label for="NameNU" class="hiddenW"> שם מלא </label>
                        <input type="text" name="NameNU" id="NameNU" />
                    </td>
                </tr>
                <tr>
                    <td class="shownW">
                        <label for="EmailNU"> כתובת דוא"ל </label>
                    </td>
                    <td>
                        <label for="EmailNU" class="hiddenW"> כתובת דוא"ל </label>
                        <input type="email" name="EmailNU" id="EmailNU" /><br />
                    </td>
                </tr>
                <tr>
                    <td class="shownW">
                        <label for="PhoneNU">טלפון </label>
                    </td>
                    <td>
                        <label for="PhoneNU" class="hiddenW">טלפון </label>
                        <input type="tel" name="PhoneNU" id="PhoneNU" />
                    </td>
                </tr>
                <tr>
                    <td class="shownW">
                        <label for="PasswordNU"> סיסמא </label>
                    </td>
                    <td>
                        <label for="PasswordNU" class="hiddenW"> סיסמא </label>
                        <input type="password" name="PasswordNU" id="PasswordNU" />
                    </td>
                </tr>
                <tr>
                    <td class="shownW">
                        <label for="PasswordNUSec"> סיסמא שנית </label>
                    </td>
                    <td>
                        <label for="PasswordNUSec" class="hiddenW"> סיסמא שנית </label>
                        <input type="password" name="PasswordNUSec" id="PasswordNUSec" />
                    </td>
                </tr>
            </table>
            <button id="createUBtn" type="submit">צור משתמש חדש</button><br class="hiddenW" />
        </form>
        <button onclick="toggle_inup('newU','exUs')">יש לי כבר משתמש</button>
    </div>
    <div id="exUs">
        <h2>משתמש קיים </h2>
        <form action="">
            <label for="EmailEU"> כתובת דוא"ל </label> <br />
            <input type="email" name="EmailC" id="EmailC" /><br />
            <label for="PasswordEU"> סיסמא </label><br />
            <input type="password" name="PasswordEU" id="PasswordEU" /><br /><br />
            <button id="createUBtn">התחבר</button><br />
        </form>
        <button onclick="toggle_inup('exUs','newU')">אין לי משתמש</button>
    </div>

</div>

<script src="{{ url_for('signinup.static', filename='js/signinup.js') }}"></script>
