
#newU {
    display: none;
}

h2 {
    text-decoration:underline;
}

.caption {
    display: none;
    color: red;
    font-size: medium;
}
#alert {
    display: inline-block;
    padding:1%;
    top: 30vh;
    left: 40vw;
}

#alert-popups{
    display: block;
}

.inline_btn {
    border-radius: 25%;
    background-color: var(--Head-color);
}


@media (max-height: 750px) {
    .hiddenW {
        display: none;
    }

    .shownW {
        display: block;
    }

    .popup {
        top: 5vh;
    }

    input {
        left: 0;
    }
}