table {
    text-align: justify;
}

#txt_no_items {
    display: none;
}

#title_sp {
    font-size: larger;
}

#tot_cost {
    background-color: var(--Back-color);
    border: none;
    font-size: large;
    font-weight: 700;
}