{% extends 'base.html' %}

{% set page_head_title = 'תפריט' %}

{% block page_head_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />

<link rel="stylesheet" href="{{ url_for('catalog.static', filename='css/catalog.css') }}" />
{% endblock %}

{% block page_body_main_content %}
<div id="assemble" class="popup">
    <h2>הרכבה אישית </h2>
    <label for="base"> בסיס עוגיה </label> <br />
    <select name="baseSelect" id="baseSelect">
        <option value="שוקולד מריר">
            מריר
        </option>
        <option value="שוקולד חלב">
            חלב
        </option>
        <option value="שוקולד לבן">
            לבן
        </option>
    </select>
    <br>
    <label for="addition"> תוספת </label><br />
    <select name="toppingSelect" id="toppingSelect">
        <option value="M&M">M&M</option>
        <option value="שוקולד ציפס">
            שוקולד ציפס
        </option>
        <option value="קינדר">
            קינדר
        </option>
        <option value="נוטלה">
            נוטלה
        </option>
        <option value="בוטנים">
            בוטנים
        </option>
    </select>
    <br>
    <input class="small_input add_cookie" type="number" max="12" min="0" value="1" id="amount_cus">
    <br>
    <p>13 ₪</p>
    <button onclick="add_custom_made()">הוסף</button>
</div>
<div class="main">
    <h1 id="mainTl" class="page_title">בחר עוגיות </h1>
    <div class="page-mask" id="pm-side" onclick="close_side()"></div>
    <div class="Container">
        <div class="orderMain">
            <div class="side_nav">
                <h2 class="underline">בסיס</h2>
                <button class='filter' onclick="fillter_cookies('Dark')">מריר</button><br>
                <button class='filter' onclick="fillter_cookies('Milk')">חלב</button> <br>
                <button class='filter' onclick="fillter_cookies('White')">לבן</button><br>

                <h2 class="underline">סוג</h2>
                <button class='filter' onclick="fillter_cookies('pack')">מארז</button><br>
                <button class='filter' onclick="fillter_cookies('single')">בודדת</button><br>
                <br>

                <button onclick="fillter_cookies('cookie_card')">מחק פילטרים</button> <br>
                <button onclick="open_popup('assemble')">הרכבה אישית</button>
            </div>
            <div class="cards_container">
                {% for cookie in cookies%}
                {% with c=cookie, id=cookie.CookieID, type='cookie',class=cookie.Class , base=cookie.Base
                ,topping=cookie.Topping ,
                price=cookie.Price, imgSrc=cookie.ImgSrc %}
                {% include 'cookieCard.html' %}
                {% endwith %}
                {% endfor %}
                {% for pack in packs %}
                {% with type='pack', id=pack.PackID, size=pack.Size , price=pack.Price , imgSrc=pack.ImgSrc%}
                {% include 'cookieCard.html' %}
                {% endwith %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_body_footer %}{% endblock %}

{% block page_body_js %}
<script src="{{ url_for('catalog.static', filename='js/catalog.js') }}"></script>
{% endblock %}