{% extends 'base.html' %}

{% set page_head_title = 'summery' %}

{% block page_head_css %}
<link rel="stylesheet" href="{{ url_for('summery.static', filename='css/summery.css') }}" />
{% endblock %}

{% block page_body_main_content %}
{% if not session["logged_in"] %}
<div class="popup" id="signin">
    <h3> לפני שנמשיך אולי תרצה להתחבר?</h3>
    <p>
        ממש כדאי לך! <br>
        החברים שלנו נהנים מהנחות מיוחדות <br>
        משתתפים בתחרויות <br>
        ויכולים לצבור נקודות מהקניות <br>
        ולהשתמש בהם בפעמים הבאות <br>
    </p>
    <button onclick="change_location('/registration')">בטח!</button>
    <button onclick="close_popup()">פעם הבאה</button>
</div>
{% endif %}
<div class="main">
    <h1 class="page_title">סיכום הזמנה </h1>
    <div class="textBox">

        <br>
        <div>
            <label class="underline">המיקום הקרוב ביותר אליך הוא:</label>
            <p>סניף תל אביב דיזניגוף 205 <br>
                טל' - 052-9856147 </p>
        </div>
        <div>
            <label class="underline">עלות המשלוח למיקומך:</label>
            <p>20 ש"ח </p>
        </div>
        <div>
            <label class="underline">עלות כולל משלוח:</label>
            <p>95 ש"ח </p>
        </div>
        <button id="creditBtn" onclick="change_location('payment')">תשלום באשראי</button> <br class="hiddenD">
        <button id="chashBtn" onclick="change_location('orderDetails')">תשלום במזומן</button> <br class="hiddenD">
        {% if not session["logged_in"] %}
        <button onclick="change_location('/registration')">התחבר</button>
        {% endif %}
    </div>

</div>
{% endblock %}

{% block page_body_footer %}{% endblock %}

{% block page_body_js %}
<script src="{{ url_for('summery.static', filename='js/summery.js') }}"></script>
{% endblock %}